@using tekdostpatileri.Models;
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model tekdostpatileri.Models.Galeri
@section başlık{
      TekDostPatileri
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/css/adminpanel.css" type="text/css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row" id="main">
        <div class="col-sm-12 col-md-12 well" id="content">
            @if (TempData["HataG"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["HataG"]
                </div>
            }
            <form method="post" asp-controller="AdminPaneli" asp-action="Galeri" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputPassword1">Resimler:</label>
                    <input type="file" name="Resimler" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Ekle</button>
            </form>
        </div>
    </div>
</div>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/js/adminpaneli.js"></script>