
.h1 {
    background-color: seagreen;
    color:whitesmoke;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding:10px;
}

.h2 {
    background-color: salmon;
    color:black;
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 40px;
    padding: 10px;
}

.VIpgJd-yAWNEb-L7lbkb {
    display: none;
}