.footer{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: antiquewhite;
	font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
}

.f{
	max-width: 50%;
}

@media (min-width: 768px){
    .float-left{
     float: left!important;
    }
   .float-right{
   	 float: right!important;
   }
}

.text-light {
    color: black!important;
}

.border-right {
    border-right: 1px solid black!important;
    padding-left: 25px;
}
.nav-link-f {
    display: block;
    padding: 0.5rem 1rem;
}
.footer a:hover{
    color: white;
}

@media screen and (max-width:1024px){
    .border-right{
        display: none;
    }
    .f{
        max-width: 100%;
    }
}