<nav class="navigation-d">
	<ul class="navigation-list-d">
		<li class="navigation-item-d">
			<a href="/Home/Index" class="navigation-link-d">
				Anasayfa
			</a>
		</li>
		<li class="navigation-item-d">
			<a href="/Home/hakkında" class="navigation-link-d">
				Hakkımızda
			</a>
		</li>
		<li class="navigation-item-d">
			<a href="/Home/hizmetler" class="navigation-link-d">
				Hizmetlerimiz
			</a>
		</li>
		<li class="navigation-item-d">
			<a href="/Home/yuvamız" class="navigation-link-d">
				Yuvamız
			</a>
		</li>
		<li class="navigation-item-d">
			<a href="/Home/galeri" class="navigation-link-d">
				Galeri
			</a>
		</li>
		<li class="navigation-item-d">
			<a href="/Home/iletişim" class="navigation-link-d">
				İletişim
			</a>
		</li>
	</ul>
</nav>